body{
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: bold;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px; /* Ajuste a altura conforme necessário */
}

.logo-navbar {
    text-align: center;
}

.corpo{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    width: 100%;}

.section__corpo{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}